@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.footer-font {
    font-family: "Jost", sans-serif;
}
.all-btn {
    font-family: "Jost", sans-serif;
    background-color: transparent;
    font-weight: 700;
    font-size: 18.56px;
    line-height: 100%;
    border: 2px solid #000;
    width: 237px;
    height: 56px;
}
.all-anchor {
    font-family: "Jost", sans-serif;
}
.mail-span {
    position: relative;
    font-family: "Jost", sans-serif;
}
/* footer contact email  */
.contact-mail {
   width: 320px;
    height: 56px;
    padding: 10px;
    border:0.7px  solid #FFFFFF;
    border-radius: 5px;
    font-size: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: #fff;
}
 ::placeholder {
    color: #fff;
    font-family: "jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
/* styling for arrow icon in footer email, with button as arrow */
 .btn-arr {
    position: absolute;
    top: -21px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
} 

/* styling for the a-tag  with arrow icons   */

.email-btn {
    position: absolute;
    top: 24px;
    right: 1px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.contact-info {
    font-family: "Nunito Sans", sans-serif;
}

hr {
    border: 2px solid #fff;
    width: 100%;
}
.copyright {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

@media (max-width: 900px) {
    

    /* blog_1  media*/

    .navbar-toggler{
        margin-top: 15px;
        font-size: 25px !important;
    }

    .navbar-brand{
        margin-top: 15px;

    }


    .nav-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    }

    .navbar {
        padding: 0.1rem !important;
    }
    body {
        max-width:  100% !important;
    }

     .blog_1_card_img{
      width: 100% !important;
      margin-bottom: 30px;
    }

    h3.mb-5 {
     margin-bottom: 15px !important;
    }

    a.btn-tag.me-lg-2.btn.btn-outline-dark.text-black.text-decoration-none.mb-5{
        margin-bottom: 20px !important;
    }

}


@media (min-width: 901px) and (max-width: 1366px){

    .blog_1_card_img img{
        width: 99% !important;
    }

    .blog_1_img{
          padding-right: 900px !important;
    }


    .blog1_header{
        margin-bottom: 19px;
    }


}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* CSS rules for iPads in general (both portrait and landscape) */
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {


    #second_card_img{
        width: 99% !important;
        height: 30vh !important;
    }

    .contact-mail{
        width: 220px !important;
    }
}